<!DOCTYPE html>
<html>
<head>
    <title>Intranet Corporate</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<section class="hero">
    <h1>Intranet</h1>
    <p>Selamat datang, {{ user }}</p>
</section>

<section class="menu">
    <!-- Word Online -->
    <a href="https://www.office.com/launch/word" target="_blank" class="icon-card">
        <img src="/static/img/word.png">
        <h3>Word</h3>
    </a>

    <!-- Excel Online -->
    <a href="https://www.office.com/launch/excel" target="_blank" class="icon-card">
        <img src="/static/img/excel.png">
        <h3>Excel</h3>
    </a>

    <!-- Teams -->
    <a href="https://teams.microsoft.com" target="_blank" class="icon-card">
        <img src="/static/img/teams.png">
        <h3>Teams</h3>
    </a>
</section>

</body>
</html>
